@use '../scss/base/screen-size';

.hero{
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: var(--hero-min-height);
    display: flex;
    align-items: center;
    color: var(--hero-text-color);
    z-index: 1;



    &:has(~ .mi-grid-1-2), &:has(~ .mi-grid-1-1-1), &:has(~ .mi-grid-1-1-4) {
        margin-bottom: 3rem;

        @media (min-width: var(--medium)) {
            margin-bottom: 6rem;
        }
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;

        &--image {
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                inset: 0;
            }
        }

        &--video {
            padding: 56.25% 0 0 0;
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;

            @media (min-width: var(--x-large)) {
                padding: 47.25% 0 0 0;
            }

            @media (min-width: 1890px) {
                padding: 42.25% 0 0 0;
            }
            
            iframe {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                min-width: 1920px;
                min-height: 100%;
                min-height: calc(67.8vw + (var(--video_height) * 2));
                transform: translate(-50%, -50%);
                border: 0;

                @media (min-width: var(--small)) {
                    min-height: calc(67.8vw + var(--video_height));
                }

                @media (min-width: var(--x-large)) {
                    min-width: 2220px;
                }

                @media (min-width: 1890px) {
                    min-width: 3100px;
                }
            }
        }
    }

    &__sub-title {
        text-wrap: pretty;
    }

    &__backdrop {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
    }
}
