:root{
    --small: 320px;
    --xs-medium: 374px;
    --s-medium: 480px;
    --medium: 768px;
    --s-large: 992px;
    --large: 1024px;
    --m-large: 1200px;
    --x-large: 1600px;
    --xx-large: 1800px;
    --xxx-large: 2800px;
}