body {
    font-family: var(--font-family);
    line-height: 1.5;
}

a {
    color: var(--color-text-primary);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

h1, .h1 {
    font-size: var(--text-6xl);
}
h2, .h2 {
    font-size: var(--text-5xl);
}
h3, .h3 {
    font-size: var(--text-4xl);
}
h4, .h4 {
    font-size: var(--text-3xl);
}
h5, .h5 {
    font-size: var(--text-2xl);      
}
h6, .h6 {
    font-size: var(--text-xl);
}
